<DOCTYPE html>
<html>
<body>
	<div class="top">
		<div class="header outer">
			<div class="inner">
				<h1>New things store</h1>
				<div class="butcont">
					<div class="login">Login</div>
					<div class="signup">Signup</div>
				</div>
			</div>
		</div>
	<ul>
		<li><a>Link one</a></li>
		<li><a>Link two</a></li>
		<li><a>Link three</a></li>
	</ul>


	</div>

	<div>
	</div>
</body>
</html>