* {
	margin: 0;
	padding: 0;
}
html,body {
	height: 100%;
	width: 100%;
}

#navbar {
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.navlist {
	background-color: white;
	display: inline-block;
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid white;
	border-left: 1px solid white;
	a {
		display: block;
		color: black;
	}
}


.navlist:hover {
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 14px 16px;
}

.header {
	text-align: center;
	height: 100px;
	width: 100%;
}
.butcont {
	height: 100%;
	width: 20%;
	float: left
}
.middle {
	height: 100%;
	width: 60%;
	float: left;
}
.centeredtext {
	position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
	
.left {
	left: 0;
	height: 100%;
	width: 20%;
	float: left;

}
.login {
	height: 100%;
	padding: 0;
	width: 50%;
	float: left;
	color: black;
	border-left: 1px solid black;

}
.signup {
	height: 100%;
	padding: 0;
	width: 49%;
	float: left;
	color: black;
	border-left: 1px solid black;

}

.footer {
	font-size: 12px;
	text-align: center;

}