@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($duration) {
	-webkit-transtion: ease $duration;
	-moz-transtion: ease $duration;
	transition: ease $duration;
}