@import 'mixins';
html, body {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(#00111e 30%, #02304a);
  background: -moz-linear-gradient(#00111e 30%, #02304a);
  background: -o-linear-gradient(#00111e 30%, #02304a);
  background: linear-gradient(#00111e 30%, #02304a);
  color: white;
  text-align: center;
}

input {
  font-size:25px;
  text-align:left;
  padding:13px;
  border-width:1px;
  border-radius:9px;
  border-style:inset;
  background-color:#ebebeb;
  border-color:#c7c7c7;
  box-shadow: 1px 5px 8px 0px rgba(42,42,42,.56);
  margin: 10px;
}
input:focus {
  outline:none;
  margin: 8px;
  border-width: 3px;
  border-color: rgb(57, 168, 223);
}
